<form action="#" class="create-form">

  <div class="form-row" id="first_name">
    <label class="form-label">First name</label>
    <input type="text" class="form-control" name="first_name" data-create="first_name">
  </div>
  <div class="form-row" id="last_name">
    <label class="form-label">Last name</label>
    <input type="text" class="form-control" name="last_name" data-create="last_name">
  </div>

  <div class="form-row">
    <label class="form-label">Address </label>
    <textarea class="form-control" name="address" data-create="address"></textarea>
  </div>

  <input type="submit" value="Add person" class="form-button" id="submit-person">
</form>