<div class="person">
  <div class="actions">
    <a href="#" data-url="<%= url %>" id="edit">edit</a>
  </div>

  <%= firstName %> <%= lastName%>

  <blockquote>
    <%= address %>
  </blockquote>
</div>